:root{
    /* le future variabili */
    --col_chiaro: rgb(251, 251, 251); /* da richiamare con var(--col_chiaro);*/

    --g0: #a6da88;
    --g1: #5db64f;
    --g2: #58b334;
    --g3: #5ee12e;
    --gold1: rgb(50, 197, 104);
    --gold2: rgb(10, 155, 49);
    --myb: #001932; 
}

html
{
    scroll-behavior: smooth;
    font-family: helvetica, sans-serif;
    overflow-x: hidden; 
}

body{
    width: 100vw; 
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

html{ overscroll-behavior-y: contain; }

/* SCROLLBAR */
::-webkit-scrollbar {width: 2px; }
::-webkit-scrollbar-track {background: var(--radio-color);}
::-webkit-scrollbar:hover {width: 20px; }
::-webkit-scrollbar-thumb {background: var(--gold2); border-radius: 10px;}
/* END of scrollbar */


.fullScreen { width: 100vw; height: 100vh; }

.middle{  
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;  
    box-sizing: border-box;
}

.vertmid{ bottom: 0; 
    top: 0; 
    margin-top: auto; 
    margin-bottom: auto;  
}

/* TOP NAVIGATION BAR ----------------------------- */
nav{
    position: fixed;
    z-index: 5;
    height: 3em;
    top: -2.5em;

    background: linear-gradient(to left top,
    var(--clr-body-bg),var(--clr-heading));
    width: 100vw;
    opacity: .5;
    transition: top 1s;
    box-sizing: border-box;
    
    display: flex;    
    /* justify-content: space-between;  */
    backdrop-filter: blur(3px);

    /* box-shadow: 0px 5px 5px 5px var(--clr-body-bg); */
    padding: 2px 5px 2px 5px;
    align-items: center;
}

@media (max-width: 400px) {
    nav{top: -1.5em; height: 4em;}
} 

nav:hover{
    top: 0px;
    opacity: .9;
}

nav *{opacity: 0; transition: opacity 2s; }
nav:hover *{opacity: 1; transition: opacity 1s;} */
nav:active{opacity: 1;}

@media (min-width: 500px){
    #navbar #link-expand{display: none;}
}

@media (max-width: 500px){
    #navbar:has(#link-expand:not(:checked)) #redirects {display: none;}
}

#redirects {
    display: flex; 
    flex-direction: row;
    position: absolute;
    right: 20px;
    gap: 15px;
    line-height: 2em;
    justify-content: right;
}

#summary{
    display: flex;
    gap: 10px;
    padding: 50px 0 -150px 0;
}

#navbar a{ 
    text-decoration: none; 
    padding: 3px;
    color: var(--clr-text);
}
#navbar a:hover{ 
    color: var(--clr-heading); 
    /* background: var(--clr-body-bg);
    border-radius: 8px; */
}


/* MENU IN BASSO ----------------------------------------*/
#askme{
    position: fixed;
    background: gray;
    z-index: 10;
    display: flex;
    flex-direction: row;    
    opacity: .8;
    
    color: white;
    align-items: flex-end;
    justify-content: center;

    width: 4em; 
    height: 4em;
    border-radius: 2em;
    bottom: 1em; right: 1em;
}

#askme:hover{
    width: fit-content; 
    min-width: 4em;
    height: fit-content; 
}

.placeh{
    font-size: 3em;
    transform: rotate(90deg);
    align-self:center;
}   

#askme:not(:hover) .opt{display:none;}
#askme:hover .placeh{ display: none;}
#askme:has(.open){ background: none;}

/* IMPOSTAZIONI PRE CLICK ICONA IN BASSO ----------------------- */
.opt{ 
    display: flex; flex-direction: column;
    align-items: center;
    width: 4em; height: 4em; 
    border-radius: 2em;
    background: black; 
    justify-items: center;
}
 
.opt div{ display: none; }

.opt h2{
    flex-grow: 3;
    background: black;
    text-align: center;}
 
/* QUANDO CLICKI SU UNA ICONA IN BASSO ------------------------ */
.open {width: 30em; height: 30em; 
    display:flex; border-radius: 2em;
     display: flex; flex-direction: column-reverse;
     justify-content: center; padding: auto;
     row-gap: 1px;
}

.open div{display: inline-block; color:black;
    width: 100%;  border-radius: 1em 1em 0 0;
    height: 100%;  background: white; 
}

.open h2{ width: 2em; height: 1em; }


/* CSS PER IMAGE SLIDING ---------------------------------------*/
/* #half{ background: red; opacity: .5;}
#edge{width:4px; background:black;
    border: 1px solid black;
    height: 50vh;
    position:relative; left:100%;
}

#edge:hover{ width: 8px;} */
/* end of img sliding */

main>div:not(.on-view) *{ 
    transition: opacity .5s;
    opacity: 0; }

@keyframes goUp{
    0%{transform: translateY(10px);}
    100%{transform: translate(0);}
}

.on-view *{
    opacity: 1;
    transition: opacity .5s;
    animation:goUp 1s;
}
